.row {
    margin: 0px;
    padding: 0px;
}

.square {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 7%;
    border: 3px solid black;
    margin: 10px;
    box-shadow: 5px 5px 10px;
}

.lit {
    background: rgb(238, 238, 173);   
}

.dark {
    background: rgb(65, 65, 21);
}

button {
    font-size: 150%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.row {
    text-align: center;
}

#size-p {
    text-align: center;
}

#victory {
    text-align: center;
}

#reset-section {
    margin: auto;
    text-align: center;
}